:root {
  --white: #fff;
  --white-bone: #f0f0f0;
  --dark-grey: #323C46;
  --grey: #484848;
  --light-grey: #676E78;
  --light-teal: #BDF0EB;
  --dark-teal: #A7C4CA;
  --beige: #E8AF7A;
  --navbar-height: 7rem;
}

/*styling for a colored round dot*/
.banner-dot {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 2rem;
    height: auto;
    background-color: var(--beige);
}
.main-section-title {
  color: var(--white);
  font-size: 5rem;
  font-weight: 700;
}
.main-section-title strong {
  color: var(--beige);
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.3ch;
}

/*=== variable root rem sizes for wide screens ===*/
@media only screen and (min-width: 1400px) {
  html {
    font-size: 75% !important;
  }
}
@media only screen and (min-width: 1700px) {
  html {
    font-size: 82.5% !important;
  }
}
@media only screen and (min-width: 2000px) {
  html {
    font-size: 90% !important;
  }
}

/*=== variable root rem sizes for short screens ===*/
@media only screen and (max-height: 550px) {
  html {
    font-size: 55% !important;
  }
}
@media only screen and (max-height: 450px) {
  html {
    font-size: 45% !important;
  }
}
@media only screen and (max-height: 350px) {
  html {
    font-size: 35% !important;
  }
}